@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* .donation-btn {
      background-color: #bef264; /* lime-300 */
    /* } */
    /* যখন history তে hover হবে তখন
    .history-btn:hover {
      background-color: #bef264;
    } */
    /* .history-btn:hover ~ .donation-btn {
      background-color: #f3f4f6; /* gray-100 */
    /* } */ 